{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleContacts.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styleRegister.css">
{% endblock %}

{% block content %}

	<div class="register_h2">
		<h2>Change password</h2>
	</div>

	{% for msg in get_flashed_messages() %}
		<div class="wrapped_flash">
			<div class="flash_green">
				<p>{{ msg }}</p>
			</div>
		</div>
		{% endfor %}

	<form method="post" id="request" enctype="multipart/form-data">
	<p>Enter old password to create new password. The password must be more than 4 symbols.</p>
		{{ form.old_password }}
		{{ form.new_password }}
		{{ form.new_password2 }}
		{{ form.submit }}
	</form>
{% endblock %}