
.clothes {
    color: black;
}

.product_detail {
	grid-column: 1 / -1;
	background: ghostwhite;
	color: black;
    margin-bottom: 5%;
    display: grid;
}

.product_detail .gallery {
    display: flex;
    grid-column: 2 / 2;
    justify-content: center;

}

.product_detail .small_images {
    display: flex;
    flex-direction: column;
    margin: 2%;

}

.product_detail .small_images img {
    border-radius: 5%;
    width: 90px;
    height: 90px;
    margin: 2%;
    object-fit: cover;

}

.product_detail .small_images img:hover {
    border: 2px solid black;
/*    cursor: pointer;*/

}

.product_detail .main_image {
    margin: 2%;
    object-fit: cover;
    width: 300px;
}

.product_detail .product_price {
    font-size: 32px;
}

.product_description {
    grid-column: 3 / 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.product_description .btns_div {
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.product_description .btns_div form button {
    width: 170px;
    border-radius: 10px;
    
    font-size: 17px;
    margin: 30px 0px;
    padding: 18px 4px;
}

.add_btn {
    background: black;
    color: white;

   }

.buy_btn {
    margin-left: 20px;
    background: #E96060;
    color: white;
}

button:hover {
    background: opacity: 0;
    cursor: pointer;
}

.favorite_and_share {
    display: flex;
    margin: 5% 0;
}

.favorite_and_share .favorite:hover {
    color: #6F6F6F;
    cursor: pointer;
}

.share {
    margin-left: 20px;
}

.favorite_and_share .share:hover {
    color: #6F6F6F;
    cursor: pointer;
}

.limited {
    max-height: 54px;
    overflow: hidden;
    position: relative;
}

.limited .button {
/*    position: absolute;*/
    color: #979797;
}

.limited .button:hover {
    text-decoration: unset;
    cursor: pointer;
}

.read_more_checker {
    opacity: 0;
    position: absolute;
}

.read_more_button {
    color: #979797;
    cursor: pointer;
}

.read_more_button:hover {
    text-decoration: underline;
}

.read_more_checker ~ .read_more_button:after {
    content: "See full description";
}

.read_more_checker:checked ~ .read_more_button:after {
    content: "Hide full description";
}

.read_more_checker:checked ~ .limited{
    max-height: none;
}

.wrapped_flash {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: 2 / -2;
}

.flash {
    opacity: 0.9;
    background: #C1FFDC;
    border: 2px solid #5FF978;
    border-radius: 10px;
    width: 53%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    z-index: 999999;
}

.flash p {
    font-size: 20px;
}

#none_submit {
    background-image: url('data:image/svg+xml, <svg id="favorite_icon"  width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="icon___IB7JS"><path d="M11 2c-1.16 0-2.274.54-3 1.393A3.992 3.992 0 0 0 5 2a3.631 3.631 0 0 0-3.667 3.667c0 2.52 2.267 4.573 5.7 7.693l.967.873.966-.88c3.434-3.113 5.7-5.166 5.7-7.686A3.631 3.631 0 0 0 11 2zM8.066 12.367 8 12.433l-.067-.066c-3.173-2.874-5.267-4.774-5.267-6.7 0-1.334 1-2.334 2.334-2.334 1.026 0 2.026.66 2.38 1.574h1.246C8.973 3.993 9.973 3.333 11 3.333c1.333 0 2.333 1 2.333 2.334 0 1.926-2.093 3.826-5.267 6.7z" fill="currentColor"></path></svg>') no-repeat;
 padding: 30px;
 background-size: 20px;
        background-position: calc(100% - 20px) center;
}

@media (max-width: 900px) {
    .product_detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product_description {
            grid-column: 1 / -1;

        
    }
}