
.clothes {
    color: black;
}

.product_detail {
	grid-column: 1 / -1;
	background: ghostwhite;
	color: black;
    margin-bottom: 5%;
    display: grid;
}

.product_detail .gallery {
    display: flex;
    grid-column: 2 / 2;
    justify-content: center;

}

.product_detail .small_images {
    display: flex;
    flex-direction: column;
    margin: 2%;

}

.product_detail .small_images img {
    border-radius: 5%;
    width: 90px;
    height: 90px;
    margin: 2%;
    object-fit: cover;

}

.product_detail .small_images img:hover {
    border: 2px solid black;
    cursor: pointer;

}

.product_detail .main_image {
    margin: 2%;
    object-fit: cover;
    width: 300px;
}

.product_detail .product_price {
    font-size: 32px;
}

.product_description {
    grid-column: 3 / 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.product_description .btns_div {
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.product_description .btns_div form button {
    width: 170px;
    border-radius: 10px;
    
    font-size: 17px;
    margin: 30px 0px;
    padding: 18px 4px;
}

.add_btn {
    background: black;
    color: white;

   }

.buy_btn {
    margin-left: 20px;
    background: #E96060;
    color: white;
}

button:hover {
    background: opacity: 0;
    cursor: pointer;
}

.favorite_and_share {
    display: flex;
    margin: 5% 0;
}

.favorite_and_share .favorite:hover {
    color: #6F6F6F;
    cursor: pointer;
}

.share {
    margin-left: 20px;
}

.favorite_and_share .share:hover {
    color: #6F6F6F;
    cursor: pointer;
}

.limited {
    max-height: 54px;
    overflow: hidden;
    position: relative;
}

.limited .button {
/*    position: absolute;*/
    color: #979797;
}

.limited .button:hover {
    text-decoration: unset;
    cursor: pointer;
}

.read_more_checker {
    opacity: 0;
    position: absolute;
}

.read_more_button {
    color: #979797;
    cursor: pointer;
}

.read_more_button:hover {
    text-decoration: underline;
}

.read_more_checker ~ .read_more_button:after {
    content: "See full description";
}

.read_more_checker:checked ~ .read_more_button:after {
    content: "Hide full description";
}

.read_more_checker:checked ~ .limited{
    max-height: none;
}

.wrapped_flash {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: 2 / -2;
}

.flash {
    opacity: 0.9;
    background: #C1FFDC;
    border: 2px solid #5FF978;
    border-radius: 10px;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    z-index: 999999;
}

.flash p {
    font-size: 20px;
}

@media (max-width: 900px) {
    .product_detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product_description {
            grid-column: 1 / -1;

        
    }
}