body {
	font-size: 1em;
	font-family: sans-serif;
	margin: 0;
}

header {
	background-image:
		url(../images_for_css/bg/about_header_back.jpg);
}

.main_grid {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}



.button_back {
	width: 100%;
	grid-template-columns: 1 / -1;
	height: 50px;
}

.button_back a {
	color: black;
	background: #E4E1E1;
	border: 2px solid black;
	margin-left: 30px;
	padding: 3%;
	border-radius: 10px;
	text-decoration: none;
}



.welcome {
	
	grid-column: 1 / 3;
	text-align: center;
	align-items: center;
	padding: 20px;

}

.edits {
	grid-column: 1 / -1;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.edits a {
	text-decoration: none;
	padding: 2%;
	color: black;
}

.edits a:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;

}



@media (max-width: 1200px) {
	header {
		height: 35vh;
	}
	
	.clothes {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer {
		height: 20vh;
	}
}

@media (max-width: 800px) {
	.tiles_team {
    
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 100px;
    margin-bottom: 100px;
    padding: 0px minmax(0px, 100px);
	}

@media (max-width: 500px) {
	.tiles_team {
    
    grid-template-columns: 1fr;
    
	}
}

