
header {
	background-image: url(../images/bg/about_header_back.jpg);
}

.grid_menu img {
	height: 70%;
}

.description {
	grid-column: 1 / -1;
	text-align: center;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.contentInfo {
	grid-column: 1 / -1;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
    padding-bottom: 100px;
}

.tiles_team {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 100px;
	margin-bottom: 100px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px minmax(0px, 100px);

}

.tiles_team img {
	
	width: 80%;
	height: 65%;
	object-fit: cover;
}

@media (max-width: 1200px) {
	header {
		height: 35vh;
	}
	
	.clothes {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer {
		height: 20vh;
	}
}

@media (max-width: 800px) {
	.tiles_team {
	    grid-template-columns: 1fr 1fr;
    	grid-column-gap: 2%;
    	grid-row-gap: 100px;
    	margin-bottom: 100px;
    	padding: 0px minmax(0px, 100px);
	}

	.description {
    	padding-top: 10px;
    	padding-bottom: 10px;
    }

    .contentInfo {
	    padding-bottom: 10px;
	}
}

@media (max-width: 500px) {
	.tiles_team {
	    grid-template-columns: 1fr;
	}
}