footer {
	grid-column: 1 / -1;
	height: 30vh;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

footer .social {
	width: 130px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

footer p {
	margin-left: 15px;

}

footer i {
	color: white;
}

@media (max-width: 700px) {
	footer {
    	height: 18vh;
	}
}