footer {
	grid-column: 1 / -1;
	height: 30vh;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

footer .social {
	width: 130px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


footer i {
	color: white;
}