body {
	font-size: 1em;
	font-family: sans-serif;
	margin: 0;
}

header {
	height: 50vh;
	border: 1px solid black;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	grid-column: 1 / -1;
	transition: 0.2s;
}

.main_grid {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

.grid_menu {
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0;

}

.grid_menu img {
	height: 7vh;
	
}

.grid_menu p {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.menu a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	margin-right: 15px;
}

.menu a i:hover {
	color: orange;
} 

.menu a:hover {
	color: orange;
	cursor: pointer;
}

#MainMenu {
	float: right;

}

#MainMenu.show {
	display: block;
}

#toggleNav {
	text-decoration: none;
	color: white;
	font-size: 40px;
}

#toggleNav:hover {
	color: orange;
}

#toggleNav {
  display: none;
  margin-right: 20px;
}

.menu a:hover {
	color: orange;
	cursor: pointer;
}

#HiddenMenu {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;

}

#HiddenMenu[hidden] {
	display: none;

}

#HiddenMenu a {
	padding: 6px;
	text-align: center;
}

#HiddenMenu a:hover {
	background: rgba(0, 0, 0, 0.2);
}

.right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.banner {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner h1 {
	font-size: 1.8em;
}

.banner p {
	font-size: 20px;
	padding: 8px 0px;
	text-align: center;
}

.clothes {
	grid-column: 1 / -1;
	text-align: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

footer {
	
	grid-column: 1 / -1;
	height: 30vh;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}


footer .social {
	width: 130px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


footer i {
	color: white;
}


footer i:hover {
	color: orange;
}

@media (max-width: 1200px) {
	header {
		height: 35vh;
	}


	.banner p {
		display: none;
	}
}

@media (max-width: 850px) {
	.clothes {
   	 	padding-top: 10px;
    	padding-bottom: 10px;
	}

	#toggleNav {
    	display: block;
	}

	#MainMenu {
		display: none;
	}

	#MainMenu.open {
		display: flex;
	}

	#HiddenMenu {
		font-size: 1.3em;
	}

	.grid_menu {
 	   height: auto;
	}

	header {
       height: auto;
    }
}