body {
	font-size: 1em;
	font-family: sans-serif;
	margin: 0;
}

.main_grid {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

header {
	height: 80vh;

	border: 1px solid black;
	background-image: url(../images/bg/shop_header_back.jpg);
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	grid-column: 1 / -1;
}

.grid_menu {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}


.grid_menu img {
	height: 70%;
}

.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.menu a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin-left: 30px;

}

.menu a:hover {
	color: orange;
	cursor: pointer;
}


.right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.banner {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner h1 {
	font-size: 70px;
}

.banner p {
	font-size: 23px;
	padding: 40px 0px;
	text-align: center;
}

.item_info p {
    text-align: center;

}
.item_info p strong {
    width: 100%;
    height: 50px;
}

.clothes {
	grid-column: 1 / -1;
	text-align: center;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.titles {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 100px;
}

.titles .item {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-direction: column;
	font-size: 18px;
	min-height: 253px;
}

.titles a {
	text-decoration: none;
}

.titles a:visited {
	color: black;
}

.titles .item img {
	width: 220px;
	height: 220px;
	object-fit: cover;
	background-size: cover 
}



.titles .item .overlay {
	background: rgba(0, 0, 0, 0.5);
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	z-index: 2;
	display: grid;
	justify-content: center;
	align-items: center;
	color: white;
}

.titles .item:hover {
	background: ghostwhite;
  transform: scale(1.3);
  transition: 0.3s;
  cursor: pointer;
  padding: 4%;
  border: 2px solid solid;
  border-radius: 10px;
}

.titles .item .overlay p {
	color: white;
	font-size: 1.6em;
	font-family: sans-serif;

}

.tiles .item p {
    text-align: center;
    margin: 25px;
    text-decoration: none;
}

.titles .item button {
    background: black;
    border-radius: 7px;
    text-align: 18px;
    color: white;
    padding: 15px 30px;
 }

.titles .item button:hover {
    color: orange;
    cursor: pointer;
}



footer {
	grid-column: 1 / -1;
	height: 30vh;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

footer .social {
	width: 130px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


footer i {
	color: white;
}


@media (max-width: 1200px) {
	header {
		height: 40vh;
	}
}


