{% extends 'base.html' %}
{% block title %}My account{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleHome.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styleFavorite.css">

{% endblock %}

{% block content %}
	{% for msg in get_flashed_messages() %}
		<div class="wrapped_flash">
			<div class="flash">
				<p>{{ msg }}</p>
			</div>
		</div>
		{% endfor %}

		<section class="clothes">
			<h1>My favorite</h1>
		</section>
		<!-- {{ favorites }} -->
		<div class="titles">
			{% if not current_user.is_authenticated %}
				{% for product in products %}		
				<div class="favorite_item">
					<a href="{{ url_for('product_detail', product_id=product['product_id']) }}">
						<img class="purchase_image" src="{{ product.item_image_path }}">
					</a>
					<div class="purchase_info">
						<a href="{{ url_for('product_detail', product_id=product['product_id']) }}">
							<p><strong>{{ product.title|truncate(15) }}</strong></p>
						</a>
						<p>Price: {{ product.price_for_one }}</p>
					</div>
					<form action="{{ url_for('add_to_cart', product_id=product['product_id']) }}" method="GET" enctype="multipart/form-data">
						<button type="submit">Add to card</button>
					</form>
				</div>
				{% endfor %}
			{% endif %}

			{% if current_user.is_authenticated %}
				{% for product in favorite_list %}		
				<div class="favorite_item">
					<a href="{{ url_for('product_detail', product_id=product.id) }}">
						<img class="purchase_image" src="{{ product.item_image1 }}">
					</a>
					<div class="purchase_info">
						<a href="{{ url_for('product_detail', product_id=product.id) }}">
							<p><strong>{{ product.title|truncate(15) }}</strong></p>
						</a>
						<p>Price: {{ product.price }}</p>
					</div>
					<form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="GET" enctype="multipart/form-data">
						<button type="submit">Add to card</button>
					</form>
				</div>		
				{% endfor %}
			{% endif %}
			</div>
			

{% endblock %}