{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleHome.css">
{% endblock %}

{% block content %}
		<section class="clothes">
			<h1>Clothing categories</h1>
		</section>

		<div class="titles">
			{% for category in categories %}
			<a href="{{ url_for('show_products_of_category', category_id=category.id) }}">
				<div class="item">
					<img class="item_img" src="{{ category.image_path }}" alt="{{ category.id }}">
					<div class="overlay">	
						<p>{{ category.title }}</p>
					</div>
				</div>
			</a>
			{% endfor %}	
		
		</div>
				

{% endblock %}
