{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleMain.css">
{% endblock %}

{% block content %}
		<section class="clothes">
			<h1>Clothing categories</h1>
		</section>

		<div class="titles">
		{% for category in categories %}
			<div class="item">
				<div class="overlay">
					<p>{{ category.title }}</p>
					
				</div>
			</div>
		{% endfor %}	
			<div class="item">
				<img class="item_img" src="images/Hats.jpg">
				<div class="overlay">
					<p>Hats</p>
				</div>
			</div>
			<div class="item">
				<img class="item_img" src="images/Bags.jpg">
				<div class="overlay">
					<p>Bags</p>
				</div>
			</div>
			<div class="item">
				<img class="item_img" src="images/Shirts.jpg">
				<div class="overlay">
					<p>Shirts</p>
				</div>
			</div>
			<div class="item">
				<img class="item_img" src="images/Shoes.jpg">
				<div class="overlay">
					<p>Shoes</p>
				</div>
			</div>
			
			<div class="item">
				<img class="item_img" src="{{ url_for( 'static', filename='images/Pants.jpg') }}">
				<div class="overlay">
					<p>Pants</p>
				</div>
			</div>
		</div>

{% endblock %}
