{% extends 'base.html' %}
{% block title %}My account{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleHome.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styleMyAccount.css">
{% endblock %}

{% block content %}
	{% for msg in get_flashed_messages() %}
		<div class="wrapped_flash">
			<div class="flash_green">
				<p>{{ msg }}</p>
			</div>
		</div>
		{% endfor %}

		<section class="clothes">
			<h1>My account</h1>
		</section>
		<!-- {{ favorites }} -->
		<div class="titles">
		<!-- 	{% for favorite in favorites %}
				{{ favorite.product_id }}
			{% endfor %} -->

		<div class="edits">
			<a href="{{ url_for('favorite') }}">My favorites</a>
			<a href="{{ url_for('edit_email') }}">Edit email</a>
			<a href="{{ url_for('admin.team_form_submit') }}">Edit password</a>
		</div>
				
	</div>
{% endblock %}