{% extends 'base.html' %}
{% block title %}Товары{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleShop.css">
{% endblock %}

{% block content %}
		<section class="clothes">
			<h1>Clothes</h1>
		</section>

		<div class="titles">
			{% for product in products %}
			<div class="item">
				<img class="item_img" src="{{ product.item_image_path }}">
				<div class="overlay"></div>
				<div class="item_info">
					<p><strong>{{ product.title }}</strong></p>
					<p>{{ product.price }} $</p>
				</div>
				<button>Add to card</button>
			</div>
			{% endfor %}
		</div>
{% endblock %}
