
{% extends 'base.html' %}
{% block title %}register{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleContacts.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styleRegister.css">
{% endblock %}

{% block content %}
	{% for msg in get_flashed_messages() %}
		<!-- <div class="wrapped_flash">
			<div class="flash"> -->
				<p>{{ msg }}</p>
			<!-- </div>
		</div> -->
		{% endfor %}

	<div class="register_h2">
		<h2>Register</h2>
	</div>
	
	<form method="post" id="request" enctype="multipart/form-data">
		{{ form.email }}
		{{ form.username }}
		{{ form.password }}
		{{ form.password2 }}
		{{ form.submit }}
	</form>
{% endblock %}

