
{% extends 'base.html' %}
{% block title %}register{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleContacts.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styleRegister.css">
{% endblock %}

{% block content %}
	

	<div class="register_h2">
		<h2>Register</h2>
	</div>

	{% for msg in get_flashed_messages() %}
		<div class="wrapped_flash">
			<div class="flash_dangerous">
				<p>{{ msg }}</p>
			</div>
		</div>
		{% endfor %}

	<form method="post" id="request" enctype="multipart/form-data">
	<p>Create login and password to register an account or <a href="{{ url_for('login') }}">login</a> in existing account</p>

		{{ form.email }}
		{{ form.username }}
		{{ form.password }}
		{{ form.password2 }}
		{{ form.submit }}
	</form>
{% endblock %}

