{% extends 'base.html' %}
{% block title %}Add category{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="../static/css/styleContacts.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleGeneral.css') }}">

{% endblock %}

{% block content %}
		<form method="post" id="request">
			<h2>Add category</h2>			
			<input type="text" name="title" id="title" placeholder="Category title">
			<input type="submit" value="Add category" id="submit">
		</form>
		
		<div class="button_back">
			<a href="{{ url_for('admin_page') }}">To Back</a>
		</div>
{% endblock %}